body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color:#333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url('../img/background-index.jpg');
  background-repeat: no-repeat;
  background-position: top;
}

.centered {
  margin: 0 auto;
}

.body-hotel {
  background-color: #ffffff;
  background-image: url('../img/background-hotel-search.jpg');
  background-repeat:no-repeat;
}

 a {
   text-decoration: none;
 }

 .main-header {
   width: 1200px;
   background-color: #ffffff;
 }

.main-navigation {
  position: relative;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

 .logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
 }

.site-navigation-list {
 flex-basis: 100%;
 display: flex;
 justify-content:space-around;
 margin: 0;
 padding: 0;
 list-style: none;
 align-items: center;
}

.site-navigation-item {
  vertical-align: bottom;
  height: 100%;
}

.current-page {
 color: #766357;
}
.site-navigation-list a {
 font-weight: bold;
 color:#000000;
}

.site-navigation-list a:hover {
 color: #81b3d2;
}

.site-navigation-list a:active {
color: rgba(0,0,0, 0.3);
}

.container {
  width: 1200px;
}

.block-sedona {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.Welcome-sedona {
  padding-top: 75px;
  padding-bottom: 160px;
  margin-left: auto;
  margin-right: auto;
}

.white-block {
  text-align: center;
  width: 100%;
  background-color: #ffffff;
}

.slogan {
  padding-top:65px;
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}

.container h2 {
  padding-bottom:58px;
  font-size:  14px;
}

.features {
  width: 100%;
}

.features-list {
  width: 100%;
  margin: 0;
  padding:  0;
}

.features-item {
  width: 100%;
}

.features-item h3 {
  width: 100%;
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}

.bg-blue {
  display: flex;
  align-items: center;
  background-color: #81b3d2;
  color: #ffffff;
}

.bridge {
flex-direction: row-reverse;
}

.features-list-gray {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list-gray h3 {
  padding-top: 50px;
}

.features-list-gray p {
  padding-bottom: 65px;
}

.bg-gray {
  text-align: center;
  background-color: #eeeeee;
}

.features-text {
   text-align: center;
}

.features-text h3 {
   padding-top: 50px;
 }

 .features-text p {
    padding-bottom: 65px;
  }

.features-list,
.inner-features-list {
  list-style: none;
}

.inner-features-list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}

.inner-features-item h3 {
  padding-top: 160px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}
.inner-features-item p {
  padding-bottom: 90px;
}

.features-list:nth-last-child {
  color: #ffffff;
}

.serch-hotel  {
  text-align: center;
  width: 1200px;
}

.serch-hotel h2 {
  padding-top: 55px;
   font-size: 30px;
   line-height: 36px;
   font-weight: bold;
   color: #000000;
}

.serch-hotel p:first-child {
  line-height: 24px;
}

.serch-hotel-form  {
  font-weight: bold;
}

.open-form {
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
}

.open-form:hover,
.button-booking:hover {
  background-color: #604e43;
}

.open-form:active,
.button-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.form-elem {
 color: #000000;
}

.form-elem .date {
  background-color: #f2f2f2;
}

.form-elem .date:hover {
  background-color: #ebebeb;
}

.form-elem .date:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.plus-minus {
  color: #a9a9a9;
  font-size: 21px;
}

.plus-minus:hover {
  color: #000000;
}

.plus-minus:active {
  color: #81b3d2;
}

.button-search {
  color: #ffffff;
  background-color: #81b3d2;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.index-button {
  font-size: 21px;
  font-weight: bold;
}

.main-footer {
  width: 1200px;
  display: flex;
  justify-content: space-around;
}

.main-footer .hashtag {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

 .social {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 .copyright {
  color: #000000;
}

.container-search {
  width: 1200px;
}

.filter-big {
  color: #ffffff;
}
.filter-big-from {
  display: flex;
}

.filter-big legend{
  font-size: 16px;
  font-weight: bold;
}

.filter-button {
  display: inline-block;
  color: #ffffff;
  background-color: transparent;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}
 .filter-small {
   display: flex;
   background-color: #ffffff;
 }

.sorting {
  display: flex;
  padding-top: 38px;
  padding-bottom: 47px;
}

.filter-small h2 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 47px;
}
.filter-small p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  padding-top: 38px;
  padding-bottom: 47px;
}

.sorting-small {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-small:hover {
  color: rgba(129, 179, 210, 0.3);
}

.sorting-small:active {
  color: #000000;
}

.sorting-active {
  color: rgba(129, 179, 210, 0.3);
}

.triangles {
  padding-top: 38px;
  padding-bottom: 47px;
  color: rgba(0, 0, 0, 0.3);
}
.triangles:hover {
  color: #000000;
}

.triangles:active {
  color: rgba(129, 179, 210, 0.3);
}

.triangles-active {
 color: rgba(129, 179, 210, 0.3);
}

.search-results {
  background-color: #ffffff;
}

.hotel-search-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotel-search-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.hotel-search-item {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card {
  display: flex;
}

.hotel-card-image {
  padding-top: 18px;
  padding-bottom: 30px;
}

.name-hotel {
font-size:21px;
font-weight: bold;
color: #000000;
}

.name-hotel:hover {
color: #81b3d2;
}

.name-hotel:active {
color: rgba(0, 0, 0, 0.3);
}

.cost-and-type-table {
  font-size: 14px;
  line-height: 21px;
}

.button-hotel {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}
.button-hotel:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-booking {
  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
  color: #ffffff;
}

.hotel-star {
 color: #81b3d2;
}

 .hotel-rating p {
   line-height: 21px;
   color: #666666:
 }
